{% extends 'base.html.twig' %} {% block title %}Ajouter un produit{% endblock %}
{% block body %}

<h1>Ajouter un produit</h1>

{{ form_start(form) }}
{{ form_row(form.title) }}
{{ form_row(form.content) }}
{{ form_row(form.price) }}
<button type="submit">Valider</button>
{{ form_end(form) }}

{% endblock %}
